<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuGet.Build.Packaging" version="0.2.2" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>