<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="win81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="win81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="win81" />
  <package id="NUnit" version="2.6.4" targetFramework="win81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="win81" />
  <package id="sqlite-native" version="3.8.8.1" targetFramework="win81" />
</packages>