<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="wp8" userInstalled="true" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="wp8" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wp8" userInstalled="true" />
  <package id="NUnit" version="2.6.3" targetFramework="wp8" userInstalled="true" />
  <package id="PCLStorage" version="1.0.2" targetFramework="wp8" userInstalled="true" />
</packages>