<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monotouch1" userInstalled="true" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="monotouch1" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monotouch1" userInstalled="true" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monotouch1" userInstalled="true" />
</packages>