<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios1" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios1" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="xamarinios1" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios1" />
</packages>